*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 20px;
}

h2,h3{
    font-size: 25px;
}

button{
    font-size: 15px;
}
/* FORM */

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545454;
}


#aviso{
    color: red;
}



.form-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group{
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #7ED957;
    border-radius: 40px;
    font-size: 1.2em;
    box-shadow: none;
    outline: none;
}

#form-us{
    display: flex;
    justify-content: center;
}

.form-us-container{
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    background: #7ED957;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #242424;
}

.enviar-form{
    display: flex;
    justify-content: center;
    padding: 12px 20px;
}

/* INICIO */
aside,section{
    padding: 2rem;
    padding-right: 0;
    position: sticky;
    top: 0;
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}



.info{
    margin: 12px;
    padding: 19px;
    border: 1px solid black;
}

.info div{
    padding: 20px;
}

.info div p{
    padding: 20px;
}

.info h2{
    text-align: center;
}

.logo{
    margin: 12px;
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo h3, .logo p{
    text-align: center;
    padding: 20px;
    font-size: 24px
}
.podium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
}

.podium-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-bottom: 1rem;
    font-size: 20px;
}


.span-item{
    padding: 12px;
}

#titulo{
    text-align: center;
}

.contenedor-botones{
    border: 1px solid black;
    margin: 12px;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

.contenedor-botones .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border: none 1px none 1px;
}

.btn{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 130px;
}

.btn button{
    border: none;
    background-color: #7ED957;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}


.btnSesion{
    height: 130px;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.btnSesion button{
    border: none;
    background-color: #7ED957;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    }

    .btnSesion button a{
        color: black;
        text-decoration: none;
    }

.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #349834;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.none{
    display: none;
}

.block{
    display: block;
}

/* MUSICA */
.music{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    position: fixed;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 1300px;
    height: 460px;
    background-color: #81B71A;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(129, 183, 26, 0.7);
}

.music button, .pausar-boton button{
    border: none;
    background-color: green;
    width: 130px;
    border-radius: 15px;
    cursor: pointer;
    padding: 8px;
}

.music-card{
    width: 300px;
    display: flex;
    padding: 9px;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}


.btn-musica{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 6px;
}

.music-card h3{
    text-align: center;
}

.pausar-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    position: fixed;
    transform: translate(-70% -70%);
    top: 60%;
    left: 48%;
    width: 100px;
    justify-content: space-between;
}
.pausar-boton a{
    color: black;
    text-decoration: none;
}



.prueba{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}